*~
*.py[co]
__pycache__
*.pyc
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.log
env
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.sonar
sonar-project.properties
